body {
background-color:lightblue;
background-image: linear-gradient(to bottom, lightblue, navy);
background-repeat: no-repeat;
background-position:top center;
font-family: Arial, sans-serif;

}

.page-header {
    background-image: linear-gradient(to right, purple, coral);
    border-radius: 16px;
    text-align: center;
    color: white;
}

.fact-card {
    background-color: midnightblue;
    border-radius: 12px;
    color: white;
}

.fact-card h2 {
    color: red;
}

.star {
 width: 100px;
 height: 100px;
 background-color: purple;
 border-radius: 100%;
 animation:twinkle 2s infinite alternate;
}



@keyframes twinkle {
    from {background-color: purple;}
    to   {background-color: yellow;}    
}

.footer-text {
    text-align: center;
    color: coral;
}